:root {
    --main-color: #f05d5e;
    --main-bg-color: #272932;
    --backup-bg-color: #14151a;
    --anti-flash-white: #e7ecef;
}


* {
    color: var(--anti-flash-white);
    font-family: 'Nunito', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--backup-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 5%;
}

#checklist {
    min-height: 60vh;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 auto;
}

button {
    position: fixed;
    bottom: 0;
    margin-bottom: 5%;
    min-width: 7.5vw;
    min-height: 7.5vh;
    font-size: 120%;
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

button:hover {
    scale: 0.95;
}

.option {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;

    background-color: var(--main-bg-color);
    height: 35vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s ease-in-out;
}

.option:hover {
    scale: 1.05;
}

.option input {
    margin-top: 30% !important;
    display: flex;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    margin-top: 10px;
    width: 24px;
    height: 24px;
    border: 2px solid var(--anti-flash-white);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.option input[type="checkbox"]:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.option input[type="checkbox"]:hover {
    border-color: var(--main-color);
    scale: 1.1;
}


.option>img {
    height: 25vh;
    filter: drop-shadow(0px 7px 10px rgba(255, 255, 255, 0.2));
}


#resultContent {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#resultContent h2 {
    font-size: 2rem;
    display: flex;
}

#resultContent #text {
    text-align: center;
    max-width: 90%;
}

#resultContent h3 {
    font-size: 1.8rem;
}

#resultContent img {
    margin-top: 5%;
    margin-bottom: 5%;
    max-height: 60vh;
    max-width: 80vw;
    width: auto;
    height: auto;
    object-fit: contain;
    align-self: center;
}

#result {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backup-bg-color);
    transform: translateX(100vw);
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
    overflow: auto;
}

/* CSS */
#close {
    margin: 0 !important;
    position: fixed;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
    filter: invert(1);
    z-index: 9999;
}



@media screen and (max-width: 1000px) {
    #result-content img {
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .option input {
        width: 20px;
    }

}